



 <div class="center">
   <nav class="navbar navbar-default navbar-static-top cont " role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">
        <li><a href="/listings">Bridal Gowns</a></li> 
        <li><a href="/sistings">Brides Maids</a></li> 
       

        <li><a href="/kistings">Changing Gowns</a></li>
        
        
      </ul>
      <form class="navbar-form navbar-center">
        
      </form>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

 <div class="row">
 <% @listings.each do |listing| %>

 <div class="col-xs-10 col-md-4">
  <div class="center">
   <div class="thumbnail nnx">
    <%= link_to image_tag(listing.image.url), listing %>

   
        
        
        <% listing.description %>
        <% listing.sellprice %>
        <% listing.rentprice %>
        <% link_to 'Show', listing %>
        <% link_to 'Edit', edit_listing_path(listing) %>
        <% link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
   
       
  </div>
   </div>

 <h4><%= listing.name %></h4>

  </div>
<% end %>
</div>
</div>
 

<br>


<% if user_signed_in? %>
<%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
<% end %>

<% if user_signed_in? %>
         <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
         
         <% else %>

        <% link_to "Sign Up", new_user_registration_path %>
        <% link_to "Sign In", new_user_session_path %>
       
       <% end %>