<div class="row">

  <div class="col-xs-12 col-md-12">
    <div class="thumbnail nns">
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/f9q5azr1wm3i2v8/7.jpg" alt="">

        <% link_to image_tag("") %>
       

      

    </div>
  </div>
  </div>


  <div class="row">

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail nn">
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/epnycvm9ix0364o/3.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>Check out Our Collection</h2>
           <a class="info" href="/listings">Gallery</a>
        </div>

    </div>
  </div>




<div class="col-xs-6 col-md-4">
	<div class = "center" >
<h3>About Us</h3>
<p>
<s>Single</s> Ladies pursues excellence in design and irreproachable craftsmanship to create a gown worthy of a bride’s most treasured moments. We believe brides should feel nothing less than gorgeous on their wedding day. Our designs blend rich fabrics like satin and lace with decadent beading and detailing. </p>
<br/>

<p>
To meet the demand for classic style and romantic details, we also offer contemporary bridal gowns and accessories touched by vintage inspiration. our mid- to high-end designs combine couture style with affordability </p>
<br/>
<p>
How is this achieved? <s>Single</s> Ladies eschews extreme trends in favor of timeless looks. In a <s>Single</s> Ladies gown you can be demure yet sexy. Glamour is created with lavish lace, stunning silhouettes, distinctive necklines and memorable details. Accessories such as jackets, shrugs, belts, and wraps add a feminine touch which make brides feel and look even more special on their most special day.</p>
<br/>

</div>
 
  </div>


  <div class="col-xs-6 col-md-4">
    <div class="thumbnail nnx">

    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/tqozneuqitpyda3/2.jpg" alt="">
        <% link_to image_tag("") %>
        <div class="overlay">
                <h2>CONNECT WITH US</h2>
                <p class="icon-links">
                    <a href="#">
                        <span><img alt="follow me on twitter" src="//login.create.net/images/icons/user/twitter_30x30.png"></a></span>
                    </a>
                    <a href="#">
                        <span></span>
                    </a>
                    <a href="#">
                        <span><img alt="follow me on facebook" src="//login.create.net/images/icons/user/facebook_30x30.png"></span>
                    </a>
                </p>
            </div>

      

    </div>
  </div>


</div>
 