<%= render 'pages/images' %>


<div class = "center" >
<h3>Explore Our Collections</h3>
<p>Whether your style is classic and traditional or bold and dramatic — it all starts with how your gown makes you feel.</p>
</div>

<div class="row">

  <div class="col-md-4">
    <div class="thumbnail nn">
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/epnycvm9ix0364o/3.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>Bridal Gowns</h2>
           <a class="info" href="/listings">Gallery</a>
        </div>

    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail nn">
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/nqcsh0yxwpa3oyz/4.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>Brides Maids</h2>
           <a class="info" href="/sistings">Gallery</a>
        </div>

    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail nn">
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/fm51bqyvbe0iq2c/5.jpg" alt="">

      <% link_to image_tag("") %>

      <div class="overlay">
           <h2>Changing Gowns</h2>
           <a class="info" href="/kistings">Gallery</a>
        </div>

    </div>
  </div>

</div>

<% render 'pages/footimage' %>

<div class = "center" >
<h3>GET SOCIAL WITH US</h3>
<p>Ideas, Style & More Every Day</p>
</div>




<div class="row">

  <div class="col-xs-12 col-md-12">
    <div class="thumbnail nns">
    	<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/bn5796dr0xeuxu8/6.jpg" alt="">
        <% link_to image_tag("") %>
        <div class="overlay">
                <h2>CONNECT WITH US</h2>
                <p class="icon-links">
                    <a href="#">
                        <span><img alt="follow me on twitter" src="//login.create.net/images/icons/user/twitter_130x50.png" ></span>
                    </a>
                    <a href="#">
                        <span></span>
                    </a>
                    <a href="#">
                        <span><img alt="find us on facebook" src="//login.create.net/images/icons/user/facebook-c_130x50.png" ></span>
                    </a>
                </p>
            </div>

      

    </div>
  </div>
  </div>
